@charset "utf-8";

/***********************************************/
/* adver_box                                   */
/***********************************************/
.adver_box{
	width:812px;
	margin-left:auto;
	margin-right:auto;
}

.adver_table{
	color:#666666;
	background-color: #E0E0E0;
	border: 1px #808080 solid;
}

.adver_td_01{
	width: 11%;
	text-align: center;
	vertical-align: middle;
}

.adver_td_02{
	width: 89%;
	text-align: left;
	vertical-align: top;
}

.adver_box ul{
	list-style:none;
}

.adver_box li{
	font-size: 10px;
	color:#666666;
	width: 155px;
	float:left;
	margin-top:3px;
	margin-right:10px;
	margin-bottom:3px;
	margin-left:10px;
}

.adver_box a{
	font-size: 12px;
	color:#666666;
	text-decoration:underline;
}

.adver_box a:link{
	color:#666666;
	text-decoration:underline;
}

.adver_box a:hover{
	color:#666666;
	text-decoration:underline;
}

.adver_box a:visited{
	color:#666666;
	text-decoration:underline;
}

.adver_title {
	font-size: 14px;
	font-weight: bold;
	color:#666666;
}
