@charset "utf-8";
/***********************************************/
/* initialize                                   */
/***********************************************/

* {
	margin:0;
	padding:0;
	}	
body {
	color: #000;
	background-color: #fffaeb;
	}
img {
	border: none;
	}
hr {
	display: none;
	}
h1,h2,h3,h4,h5,h6,p,dt,dl,dd,ul,li{
	font-family: "ＭＳ Ｐゴシック", Osaka;
	font-size: 12px;
	font-weight:normal;
	font-style:normal;
	color:#333333;
	line-height:1.5;
	}

a{
	color: #BEAD7D;
	text-decoration:none;
	}

a:visited{
	color: #BEAD7D;
}

a:hover{
  color: #FF6600;
}

em {
	font-style: normal;
	font-weight: bold;
	}

table{
	border-collapse:collapse;
	width:100%;
	word-break:break-all;
	}

th,td {
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align:top;
	}

.clear{
	clear:both;
	}
	
.nodisplay {
	display: none;
}

.floatleft {
	float: left;
}