@import url(./base.css);

#title {
	width: 840px;
	background-color: #20B2AA;
	color: #FFFFFF;
	margin: 5px 0px 5px 0px;
	padding: 5px 0px 5px 10px;
	font-size: 14px;
	font-weight: bold;
}


#estate{
	width:840px;
}

#estate table {
	border-top: 1px solid #CCCCCC;
	border-bottom: none;
	border-left: none;
	border-right: none;
	font-size: 100%;
	width: 100%;
}

#estate td {
	border-top: none;
	border-bottom: 1px solid #CCCCCC;
	border-left: none;
	border-right: none;
	padding: 10px;
	font-size:13px;
}

#estate td em{
	font-weight:normal;
	font-size:12px;
	color:#FF0000;
	padding:5px;
}

#estate th {
	border-top: none;
	border-bottom: 1px solid #CCCCCC;
	border-left: 6px solid #CCCCCC;
	border-right: none;
	background-color: #20B2AA;
	color:#FFFFFF;
	font-weight: normal;
	padding: 10px;	
	width: 150px;
	font-size:13px;
}

#estate th.must{
	border-left-color: #FF0000;
}

.btn_nosize{
	color:#FFFFFF;
	background-color:#20B2AA;
}

/*---------------------------------------------
   ¿‚Ã¿ ∏
---------------------------------------------*/
#com_setsu table{
	border: 0px solid #000000;
	border-collapse: collapse;
	padding: 2px;
	margin: 5px 0;
	font-size: 12px;
}
#com_setsu td{
	font-size: 12px;
	border: 0;
}
#com_setsu .bold{
	font-size: 14px;
	font-weight: bold;
}
#com_setsu .sel{
	padding: 0 0 0 20px;
}
