@import url(./base.css);

#title {
	width: 600px;
	background-color: #20B2AA;
	color: #FFFFFF;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
	font-size: 14px;
	font-weight: bold;
}

#title2 {
	width: 850px;
	background-color: #20B2AA;
	color: #FFFFFF;
	margin: 5px 0px 5px 0px;
	padding: 5px 0px 5px 10px;
	font-size: 14px;
	font-weight: bold;
}

#title3 {
	width: 100%;
	background-color: #20B2AA;
	color: #FFFFFF;
	margin: 5px 0px 5px 0px;
	padding: 5px 0px 5px 10px;
	font-size: 14px;
	font-weight: bold;
}


#category{
	width:600px;
}

#category table {
	border-top: 1px solid #CCCCCC;
	border-bottom: none;
	border-left: none;
	border-right: none;
	font-size: 100%;
	width: 100%;
	padding: 0px;
}

#category td {
	border-top: none;
	border-bottom: 1px solid #CCCCCC;
	border-left: none;
	border-right: none;
	padding: 0px;
	font-size:13px;
}

#category td em{
	font-weight:normal;
	font-size:12px;
	color:#FF0000;
	padding:0px;
}

#category th {
	border-top: none;
	border-bottom: 1px solid #CCCCCC;
	border-left: 6px solid #CCCCCC;
	border-right: none;
	background-color: #20B2AA;
	color:#FFFFFF;
	font-weight: normal;
	padding: 0px;	
	width: 150px;
	font-size:13px;
}

#category th.must{
	border-left-color: #FF0000;
	padding: 0px;	
}

.btn_nosize{
	color:#FFFFFF;
	background-color:#20B2AA;
}

