@charset "utf-8";
/* CSS Document */

/***********************************************/
/* header                                      */
/***********************************************/

#bg_header{
	background-image:url(images/bg_header.gif);
	background-position: 20px 23px;
	background-repeat: no-repeat;
	}

#header{
	width:800px;
	height:99px;
}


h1	{
	color:#000000;
	height: 1.5;
	margin-left: 13px;
	display: none;
	}

#toowners{
	padding-top:18px;
	padding-left:650px;
	}

#toowners a{
	width:125px;
	height:28px;
	display:block;
	background-image:url(images/bt_toowner.gif);
    background-position:0px 0px;
}
#toowners a:hover{
	width:125px;
	height:28px;
    background-position:0px -28px;
}
